.site-menu {
  background: #D2D3D5;
  height: 26px;
  text-align: center;

  .menu {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu__item {
    padding: 0;
    margin: 0;
    height: 26px;
    line-height: 26px;
    display: inline-block;
    vertical-align: top;
    width: 300px;
    text-align: center;

    a {
      color: $blueColor;
      text-decoration: none;
    }
  }

  .menu__item + .menu__item {
    border-left: 1px solid #FFF;
  }
}