.site-header {
  @include clearfix;

  position: relative;
  height: 101px;
  width: 1000px;
  margin: 0 auto;
}

.site-header__logo {
  position: absolute;
  cursor: pointer;
  display: block;
  top: 35px;
  left: 0;
}

.site-header__slogan {
  @include font-museo;
  @include font(24px, 27px);

  position: absolute;
  top: 35px;
  right: 0;
  pointer-events: none;
  color: $blueColor;

  strong {
    @include font-museo-bold;

    display: block;
  }
}