/** Core styles styles **/

/* Main container */

.accordion-slider {
  width: 100%;
  position: relative;
  padding-top: 30%;
  max-width: 1000px;
  margin: 0 auto;
}

/* Panel's container */

.accordion-slider .as-panels {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Panel */

.accordion-slider .as-panel {
  display: block;
  float: left;
  width: 33.3333333%;
  height: 100%;
  position: relative;
  overflow: hidden;

  -webkit-transition: width .4s ease;
     -moz-transition: width .4s ease;
      -ms-transition: width .4s ease;
       -o-transition: width .4s ease;
          transition: width .4s ease;
}

.accordion-slider.has-active .as-panel {
  width: 10%;
}

.accordion-slider.has-active .as-panel.is-active {
  width: 80%;
}

/* Panel's background */

.accordion-slider .as-background {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  max-width: none;

  -webkit-transition: left .4s ease;
     -moz-transition: left .4s ease;
      -ms-transition: left .4s ease;
       -o-transition: left .4s ease;
          transition: left .4s ease;
}

.accordion-slider.has-active .as-panel.is-collapsed .as-background {
  left: -80px;
}

/** Galderma styles **/

.accordion-slider .as-logo {
  position: absolute;
  top: 10px;
  right: 10px;
}

.accordion-slider .as-caption {
  display: none;
}

.accordion-slider .as-btn {
  display: block;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* Slide's title */

.accordion-slider .as-title {
  display: none;
}

.accordion-slider.has-active .as-panel.is-active .as-title {
	.font-museo;

  display: block;
  position: absolute;
  left: 250px;
  top: 40px;
  color: #00aca0;
}


/* Slide's text */

.accordion-slider .as-text {
  display: none;
}

.accordion-slider.has-active .as-panel.is-active .as-text {
  display: block;
  position: absolute;
  left: 250px;
  top: 110px;
  color: #6d6e71;
}

